<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=360" rel="shortcut icon" type="favicon.ico">
  <title>项目</title>

  <link rel="stylesheet" href="../css/vendors.css">
  <link rel="stylesheet" href="../css/component.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/index.css ">
  <link rel="stylesheet" href="../css/dome1.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/project.css">
</head>

<body>


  <div class="heard" id="heard">
    <div class="ti1">Belief</div>
    <div>
      <nav class="cl-effect-21">
        <a href="../../index.html" id="sho">首页</a>
        <a href="javascript:void(0);">项目</a>
        <a href="./experience.html">重要经历</a>
        <a href="./link.html">友情链接</a>
        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal">联系我</a>
      </nav>
    </div>
  </div>
  <!-- 弹框 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="margin: 0 auto;" id="exampleModalLabel">联系我</h4>
        </div>
        <!-- 主体部分 -->
        <div class="modal-body ">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">姓名</span>
            <input type="text" class="form-control" placeholder="姓名" aria-label="Username" aria-describedby="basic-addon1" v-model="messageDao.name">
            <span class="input-group-text" id="basic-addon1">联系电话</span>
            <input type="text" class="form-control" placeholder="电话" aria-label="Username" aria-describedby="basic-addon1" v-model="messageDao.phone">
          </div>
          <div class="form-floating mb-3">
            <textarea type="email" class="form-control" style="height: 10rem;" id="floatingInput" rows="10" v-model="messageDao.message"></textarea>
            <label for="floatingInput">留言
            </label>
          </div>

        </div>

        <div class="modal-footer" style="display: flex; justify-content: space-around;">
          <!-- 单击执行方法无效 -->
          <button type="button" id="btnAdd" class="btn btn-primary" @click="alert('次接口由于第一次尝试出现了问题暂时不能使用')" data-bs-dismiss="modal">添加</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 压力 -->
  <div class="flex-box">
    <!-- 让元素居中 -->
    <div class="flex-li">


      <article class="htmleaf-container">
        <div class='container'>
          <div class='column'>
            <div class='post-module'>
              <div class='thumbnail'>
                <img src='https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=563' style="height: 100%; width: 100%;">
              </div>
              <div class='post-content'>
                <div class='category'>笔记</div>
                <h1 class='title'>全部笔记总和</h1>
                <h2 class='sub_title'>拥有完整的java笔记和前端笔记</h2>
                <div class="btn btn-dark">
                  <a href="https://note.chengbelief.top" style="text-decoration: none; color: #fff;">进去看看</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>



      <article class="htmleaf-container">
        <div class='container'>
          <div class='column'>
            <div class='post-module'>
              <div class='thumbnail'>
                <img src='https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=392' style="height: 100%; width: 100%;">
              </div>
              <div class='post-content'>
                <div class='category'>javaweb项目</div>
                <h1 class='title'>尚硅谷书城</h1>
                <h2 class='sub_title'>通过了 前后端不分离和前后端分类两种技术手段实现了前后端的交互 </h2>
                <p class='description'>大量使用前后端一起写 了解了整个模拟项目的构成 详细理解了javaweb三大核心 通过项目了解了mvc设计模式、事务、额外了解了现在主流的前后端分类 用ajax实现了 用户名是否重复等功能 接触到了简单的项目 学习了基本思想</p>
                <div class="btn btn-dark">
                  <a href="https://chengbelief.top/book/" style="text-decoration: none; color: #fff;">进去看看</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>




      <article class="htmleaf-container">
        <div class='container'>
          <div class='column'>
            <div class='post-module'>
              <div class='thumbnail'>
                <img src='https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=394' style="height: 100%; width: 100%;">
              </div>
              <div class='post-content'>
                <div class='category'>Html+Css+js</div>
                <h1 class='title'>首页</h1>
                <h2 class='sub_title'>纯前端页面(比较一般不支持自适应)</h2>
                <p class='description'>第一个练手前端项目</p>
                <div class="btn btn-dark">

                  <a href="../../tuce/index.html" style="text-decoration: none; color: #fff;">进去看看</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>


    </div>
  </div>



  <script src="../js/jquery-1.11.0.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/vendors.js"></script>
  <script src="../js/demo1.js"></script>
  <script type="text/javascript">
    $(window).load(function () {
      $('.post-module').hover(function () {
        $(this).find('.description').stop().animate({
          height: 'toggle',
          opacity: 'toggle'
        }, 300);
      });
    });
  </script>
  <script>
    let tt;
    tt = document.getElementsByTagName('canvas');

    function t() {
      tt[0].style.width = "100%";
    }
    t();
    window.onresize = function () {
      t();
    }
  </script>
  <!-- 实现接口功能 -->
  <!-- 接口实现成功 也可以对数据库进行操作 但疑似遇到跨域问题 vue 只在主页修改 -->
  <script src="../lib/qs.min.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/vue.js"></script>
  <script src="../js/tan.js"></script>
</body>

</html>